<style lang="scss">
  .container {
    text-align: left;
    input[type="file"], .unvisible {
      position: absolute;
      top: -500px;
    }
    div.upload-wrapper{
      display: inline-block;
      padding: 10px;
      border: 2px #ddd solid;
      div{
        display: inline-block;
        vertical-align: middle;
        .file-name {
          background: #eee;
          padding: 0.2rem 0.6rem;
          height: 1.4rem;
          width: 200px;
        }
      }
    }
  }
</style>

<template>
  <div class="container">

    <input class="unvisible" type="file" id="file" ref="file" v-on:change="handleFilesUpload()"/>

    <div class="upload-wrapper">
      <div class="file-name-wrapper">
        <div class="file-name">{{ myFile.name }}</div>
      </div>
      <div class="add-file-btn-wrapper">
        <button v-on:click="addFile()">Search File</button>
      </div>
      <div class="submit-file-btn-wrapper">
        <button v-on:click="submitFile()">Upload</button>
      </div>
    </div>
  </div>
</template>

<script>
import PostsService from '@/services/PostsService'

export default {
  name: 'Upload',
  // Defines the data used by the component
  data () {
    return {
      myFile: { name: ' ' }
    }
  },
  // Defines the method used by the component
  methods: {
    // Adds a file
    addFile () {
      this.$refs.file.click()
    },

    submitFile () {
      // Initialize the form data
      let formData = new FormData()

      // appending the file to the form data.
      formData.append('file', this.myFile)

      // Make the request to the POST /select-files URL
      PostsService.addFile(formData, {headers: {'Content-Type': 'multipart/form-data'}})
    },

    // Handles the uploading of file
    handleFilesUpload () {
      this.myFile = this.$refs.file.files[0] || {name: ' '}
    }
  }
}
</script>
